{% extends "layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block main %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Carbon Footprint</h1>
        <p class="lead">
          A simple but staightforward website that unveils your unknowing
          contribution to climate change
        </p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
      </div>
    </div>
    <h1 class="display-4"> Monitor the air pollution levels around you.</h1>

    <div id="map" style="height:550px;" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>

    <script>
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }

      function showPosition(position) {
        console.log(
          "Latitude: " +
            position.coords.latitude +
            "<br>Longitude: " +
            position.coords.longitude
        );
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        return [lat, long];
      }

      var OSM_URL = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
      var OSM_ATTRIB =
        '&copy;  <a  href="http://openstreetmap.org/copyright">OpenStreetMap</a>  contributors';
      var osmLayer = L.tileLayer(OSM_URL, { attribution: OSM_ATTRIB });

      var WAQI_URL =
        "https://tiles.waqi.info/tiles/usepa-aqi/{z}/{x}/{y}.png?token=95370549d9b18fbcf53485ea8bf1b55987efeaa3";
      var WAQI_ATTR =
        'Air  Quality  Tiles  &copy;  <a  href="http://waqi.info">waqi.info</a>';
      var waqiLayer = L.tileLayer(WAQI_URL, { attribution: WAQI_ATTR });

      map = L.map("map", { doubleClickZoom: false }).locate({
        setView: true,
        maxZoom: 16
      });

      map.addLayer(osmLayer).addLayer(waqiLayer);
    </script>
{% endblock %}