<html>
<head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/public/style.css"
    />
</head>
<!--Original form: https://codepen.io/vikasverma93/pen/zplmq-->
<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">Login</a>
    <a href="#" id="signup-box-link">Sign Up</a>
  </div>
  <div class="social-login">
    <a href="/google">
      <i class="fa fa-google-plus fa-lg"></i>
      log in with Google
    </a>
  </div>
  <form class="email-login" action="/register">
    <div class="u-form-group">
      <input type="email" placeholder="Email" name="email" required />
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password" name="password" required />
    </div>
    <div class="u-form-group">
      <button type="submit">Log in</button>
    </div>
    <div class="u-form-group">
      <a href="/forgot-password" class="forgot-password">Forgot password?</a>
    </div>
  </form>
  <br />
  <br />
  <br />
  <br />
  <br />
  <form class="email-signup" action="/login">
    <div class="u-form-group">
      <input type="email" placeholder="Email" name="email" />
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password" name="password" />
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Confirm Password" name="confirm" />
    </div>
    <div class="u-form-group">
      <button>Sign Up</button>
    </div>
  </form>
</div>
<br />

<script src="/public/client.js"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
